.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.form {
  /* Add !important to your background or background-color property */
  background: rgba(206, 174, 137, 0.58) !important;
  
  color: #5C4033;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  
  /* General styling */
  width: 100%;
  max-width: 420px;
  padding: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md);
}

/* .form label {
    text-align: left;
    display: block; 
    margin-bottom: 0.25rem; 
} */